nbproject
photos/*
!photos/index.html
uploads/*
!uploads/index.html
!uploads/csv
uploads/csv/*
!uploads/csv/index.html
netbeans_autocomplete_codeigniter.php
.vagrant

### vim ###
.*.s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~
